<% if :success %>
  <h3><%=_('Data imported')%></h3>
  <div><%=_('All data was imported with success.')%></div>
<% else %>
  <h3><%=_('Failure')%></h3>
  <div><%=_('A failure ocurred while importing data.')%></div>
<% end %>
